# JUnit test
hamcrest-core-1.3.jar
junit-4.13.2.jar

# LeetCode
## LeetCode judgement file
user.out
## g++ compiled Solution.cpp
Solution

# refer to http://gitignore.io
### VisualStudioCode ###
*/.vscode/*
#!*/.vscode/launch.json
!*/.vscode/*.code-snippets